* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-emphasis: none;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 100dvw;
  height: 100vh;
  background-image: url("./univer.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding: 15px; */
  height: 4rem;
  /* right: 0;
    left: 0; */
  background-size: cover;
  background-color: #fff;
  align-items: center;
  /* max-width: 100vw; */
  /* width: -100wv; */
  /* width: 100vw; */
}
.nav .ab {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: rgb(43, 171, 43);
  padding-bottom: 20px;
}

/* .nav .ab{
    width: 20px;
    height: 20px; */

/* } */
/* nav .ab img{
    width: 20px;
    height: 10px;
} */
.nav-links ul {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.nav-links ul li {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  font-size: 20px;
  color: rgb(85, 77, 77);
  cursor: pointer;
}
.nav-links ul li a {
  text-decoration: none;
  color: rgb(85, 77, 77);
  font-size: 20px;
  font-weight: 400;
}
/* 
.nav-links ul::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.nav-links ul:hover::after {
    width: 100%;
} */

.nav-links li {
  padding: 14px;
  font-size: 20px;
  cursor: pointer;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.nav-links li:hover::after {
  width: 100%;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.password {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.no-more {
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.no-more p a {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  color: azure;
}

.form-group {
  margin-bottom: 30px;
}

.reg {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.alt {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  color: blue;
}

.nav-links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s ease-in;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav .fa-solid {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: color(srgb red green blue);
}

@media screen and (max-width: 768px) {
  .nav-links ul {
    display: none;
    flex-direction: column;
  }

  .nav-links.active ul {
    display: flex;
  }

  /* Additional CSS for mobile menu icon */
  .fa-bars,
  .fa-xmark {
    display: block;
    color: #f44336;
  }
  .fa-xmark {
    display: none;
  }
}
