@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,800&family=Heebo:wght@300&family=Libre+Franklin:ital,wght@0,500;1,200;1,600&family=Poppins:ital,wght@0,600;0,700;0,800;1,400;1,600;1,800&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("new_background.jpg");
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(4, 215, 245, 1) 0%, rgba(163, 163, 190, 1) 38%);
}

.student-dev {
    color: #554c4c;
    padding-top: 10px
}

.box h1 {
    color: rgb(126, 121, 121);
    text-shadow: #ccc;
    text-align: center;
    justify-content: center;
}

.title_small {
    font-size: 20px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 400;
    text-shadow: 2px 1px #ccc;
    margin-bottom: 5px;
    padding-left: 10px;
    color: rgb(55, 37, 37);
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input {
    border-radius: 20px;
}

textarea {
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 35px;
}

input:focus {
    outline-color: red;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

#next1 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn1 {
    display: block;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-top: 10px;
    color: rgb(13, 12, 12);
    font-size: 17px;
}

.btn1 {
    color: rgb(13, 12, 12);
    font-size: 17px;
}

.btn1:active {
    transform: scale(.98);
}

.btn1:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px;
}

.btns-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.btns-group .left-arrow {
    font-size: 15px;
    color: #1b1a1a;
}

.right-arrow {
    font-size: 15px;
    padding-left: 5px;
    color: #100e0e;
}


/* .button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
} */


/* button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
} */


/* button:hover {
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
} */

.textarea_control {
    grid-column: 2 / span 2;
}

.textarea_control textarea {
    width: 100%;
}

.hsc {
    grid-column: 1 / span 3;
    font-size: 25px;
    color: #554c4c;
    padding-top: 10px;
    font-weight: 400;
}

.sumbit {
    /* margin-top: 20px; */
    grid-column: 1 / span 3;
    font-size: 25px;
    font-weight: 400;
    /* color: black; */
    color: #554c4c;
    padding-top: 10px
}

.button_container {
    /*  */
    display: block;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    margin-top: 7px;
    color: rgb(13, 12, 12);
}

.button_container #sumbit {
    color: rgb(13, 12, 12);
    font-size: 17px;
}

button {
    border: transparent solid 2px;
    padding: 5px 10px;
    color: black;
    border-radius: 8px;
    transition: 0.3s ease-in;
    padding: 10px 20px;
    transition: 0.3s ease-in;
}

button:hover {
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.sumbit:hover {
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
    border-radius: 4px solid black;
}

@media screen and (max-width: 450px) {
    .form_container {
        margin: auto;
    }
    .form_control {
        grid-column: 1 / span 1;
    }
    .textarea_control {
        grid-column: 1 / span 1;
    }
}

;