* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.header {
    /* min-height: 100vh; */
    width: 100vw;
    height: 100vh;
    /* background-image: url("../Admin-1.png"); */
    background-image: url("../univer.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    margin: auto;
    background-color: #fff;
    align-items: center;
}

.ab a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: green;
}

.nav-links ul {
    display: flex;
    font-size: 20px;
    color: gray;
}

.nav-links li a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: 400;
}

.nav-links li {
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
}

.nav-links li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
}

/* .nav .fa-solid {
    display: none;
} */

.hamburger {
    display: none;
   padding-left: 10px;
   color: #f44336;
   z-index: 4;

}

@media(max-width:700px) {
    .nav-links li a {
        display: flex;
    }
    .nav-links ul {
        position: absolute;
        background: #f9f7f6;
        height: 100vh;
        border-radius: 12px;
        width: 500px;
        flex-direction: column;
        top: 20;
        margin-right: -300px;
        /* margin-left: 100px; */
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links li::after {
        content: "";
        width: 0%;
        height: 2px;
        background: #f44336;
        display: block;
        transition: 0.5s;
    }
    .nav-links li:hover::after {
        width: 100%;
    }
    /* .nav .fa-solid {
        display: block;
        color: rgb(10, 2, 2);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links li {
        padding: 30px;

    } */

    .hamburger {
        display: block;
        cursor: pointer;
        color: #3273ad;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
}